$dark_grey: #363636;
$black: #000000;
$white: #ffffff;
$green: #02bc52;
$dark_green: darken($green, 5%);

$gradient_light: linear-gradient(
  315deg,
  rgba(206, 206, 206, 1) 0%,
  rgba(255, 255, 255, 1) 100%
);

$gradient_dark: linear-gradient(
  315deg,
  rgb(48, 47, 47) 0%,
  rgb(78, 78, 78) 100%
);

.gradient-light {
  background-image: $gradient_light;

  a {
    color: darken($green, 5%);

    &:hover {
      color: lighten($green, 3%);
    }
  }
}

.gradient-dark {
  background-image: $gradient_dark;

  a {
    color: lighten($green, 5%);

    &:hover {
      color: lighten($green, 10%);
    }
  }
}
