@use 'colors';
@use 'responsive';

.contact-us {
  &__main {
    section {
      width: 100%;
      min-height: calc(100vh - 6rem);
      padding: 5rem;

      h1 {
        font-size: 5.5rem;
        color: colors.$black;
        text-align: center;
      }

      .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 8rem;
        padding: 5rem 6% 5rem 6%;
        margin: 0 auto;
        max-width: 1400px;

        @include responsive.medium-lg-screen {
          gap: 4rem;
          padding: 5rem 3%;
        }

        @include responsive.medium-screen {
          grid-template-columns: 1fr;
          text-align: center;
        }

        .body-text {
          .title {
            h2 {
              font-size: 5rem;
              margin-bottom: 1rem;
              @include responsive.medium-lg-screen {
                font-size: 4rem;
              }
            }
            h3 {
              font-size: 3rem;
              color: colors.$green;
              margin-bottom: 3rem;
              @include responsive.medium-lg-screen {
                font-size: 2.5rem;
              }
            }
          }

          .text {
            margin-bottom: 5rem;
            p {
              font-size: 1.6rem;
              line-height: 2.5rem;
            }
          }

          .contact {
            margin-bottom: 3rem;

            &__link {
              display: flex;
              align-items: center;
              position: relative;
            }
            &__phone,
            &__email {
              font-size: 1.4rem;
              display: flex;
              align-items: center;
              gap: 2rem;
              margin: 0 0 2rem 0;

              a {
                text-decoration: none;
                color: black;

                &:hover {
                  .underline {
                    width: 100%;
                    left: 0;
                  }
                }
              }

              @include responsive.medium-screen {
                justify-content: center;
              }

              svg {
                width: 2.3rem;
                color: colors.$green;
              }

              .underline {
                margin-top: 0.5rem;
                height: 0.2rem;
                width: 0;
                background-color: colors.$green;
                position: absolute;
                bottom: -0.5rem;
                left: 50%;
                transition: all 250ms ease;
              }
            }
          }

          .social {
            &__container {
              margin-left: -1rem;
              display: flex;
              align-items: center;
              svg {
                width: 2.3rem;
              }

              .link {
                padding: 1rem;
                transition: all 250ms ease;

                &:hover {
                  transform: scale(1.2);
                }
              }

              @include responsive.medium-screen {
                margin-top: 5rem;
                justify-content: center;
              }
            }

            #social-fb-icon svg {
              width: 2.4rem;
            }
          }
        }

        .contact-form {
          fieldset {
            padding: 1rem;
            border: none;
          }

          .title {
            font-size: 2rem;
            font-weight: bold;
            color: colors.$dark_green;
          }

          label {
            font-size: 1.6rem;
            color: colors.$black;
            font-weight: normal;
          }
          .details {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 4rem 2rem;

            @include responsive.medium-screen {
              justify-items: center;
              .spacer {
                display: none;
              }
            }

            .title {
              margin-bottom: -1rem;

              @include responsive.medium-screen {
                grid-column: 1/3;
              }
            }

            .text-input {
              position: relative;
              width: 20rem;

              label {
                position: absolute;
                bottom: 0.5rem;
                left: 0;
                color: grey;
                pointer-events: none;
                transition: all 500ms ease;

                &.active {
                  transform: scale(0.8) translateY(-3rem) translateX(-0.5rem);
                  color: colors.$dark_green;
                }
              }

              .hoverline {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 20rem;
                height: 2px;
                background-color: darken(grey, 20%);
                opacity: 0;
                transition: all 250ms ease;
              }
              .activeline {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 20rem;
                height: 3px;
                background-color: colors.$green;
                opacity: 1;
                transition: all 500ms ease;
                transform: scaleX(0);

                &.active {
                  transform: scaleX(1);
                }
              }

              input {
                position: relative;
                width: 20rem;
                height: 3rem;
                background: none;
                border: none;
                border-bottom: 1px solid grey;
                font-size: 1.6rem;

                &:focus {
                  outline: none;
                }
              }
              &:hover {
                .hoverline {
                  opacity: 1;
                }
              }
            }
          }

          .services {
            .title {
              margin: 3rem 0;
            }

            &__container {
              width: 450px;
              display: grid;
              grid-template-columns: 1fr 1fr;
              gap: 1rem 2rem;

              input {
                margin-right: 1rem;
                transform: scale(1.2);
              }

              .checkbox {
                display: flex;
                align-items: center;
              }

              @include responsive.medium-screen {
                margin: 0 auto;
                padding-left: 3rem;
              }
            }
          }

          .message-area {
            .title {
              margin: 3rem 0 2rem 0;
            }
            #message {
              font-size: 1.6rem;
              padding: 1rem;
            }
          }

          .feedback {
            margin-top: 3rem;
            select {
              width: 20rem;
              height: 2rem;
              margin-right: 1rem;
              // font-size: 1.3rem;
            }
          }

          #send-button {
            width: 10rem;
            height: 5rem;
            background-color: colors.$dark_green;
            border-radius: 1rem;
            color: colors.$white;
            cursor: pointer;
            transition: all 250ms ease;
            border: none;
            box-shadow: 0.25rem 0.25rem 1rem 0.3rem rgba(37, 37, 37, 0.1);
            font-size: 1.5rem;
            margin: 2rem 0 0 1rem;

            &:hover {
              background-color: colors.$green;
              box-shadow: none;
            }
          }
        }
      }
    }
  }
}
