@use 'colors';
@use 'responsive';

.event-management {
  &__main {
    .title-section {
      width: 100%;
      min-height: calc(100vh - 12rem);

      @include responsive.mobile {
        min-height: calc(100vh - 6rem);
      }

      .container {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 8rem;
        padding: 15vh 6% 5rem 6%;
        margin: 0 auto;
        max-width: 1400px;
        justify-items: center;
        align-content: center;

        @include responsive.medium-screen {
          grid-template-columns: 1fr;
          gap: 4rem;
          text-align: center;
          padding: 0 6% 5rem 6%;
        }
        @include responsive.mobile {
          grid-template-columns: 1fr;
          gap: 4rem;
          text-align: center;
          padding: 0 6% 5rem 6%;
        }

        header {
          margin-top: 8vh;
          .heading {
            font-weight: normal;
            font-size: 5.5rem;
            margin-bottom: 3rem;

            .green {
              color: colors.$green;
            }
          }
        }

        .image {
          margin-top: 0;
          height: 100%;
          width: 100%;
          max-width: 650px;
          img {
            width: 100%;
            filter: grayscale(95%);
            transition: all 500ms ease;
          }

          &:hover {
            img {
              filter: grayscale(0%);
            }
          }

          @include responsive.no-hover {
            &:active {
              img {
                filter: grayscale(0%);
              }
            }
          }

          @include responsive.medium-lg-screen {
            margin-top: 3vh;
          }
          @include responsive.mobile {
            margin-top: 10%;
          }
        }
      }
    }

    .ribbon {
      width: 100%;
      min-height: 30rem;
      padding: 5rem;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;

      @include responsive.medium-screen {
        justify-content: flex-end;
      }

      p {
        color: colors.$white;
        text-align: center;
        width: 50%;
        max-width: 700px;
        font-size: 2rem;
        line-height: 3.5rem;

        @include responsive.medium-screen {
          width: 70%;
          text-align: right;
          font-size: 1.8rem;
        }
        @include responsive.mobile {
          width: 100%;
        }
      }

      svg {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        fill: colors.$green;
        opacity: 0.15;
      }
    }

    .services {
      width: 100%;
      padding: 5rem;

      @include responsive.mobile {
        padding: 10%;
      }

      h1 {
        font-size: 4rem;
        text-align: center;
        margin-bottom: 1rem;
      }
      h2 {
        font-size: 2.5rem;
        font-weight: normal;
        text-align: center;
        margin-bottom: 8rem;

        @include responsive.mobile {
          margin-bottom: 4rem;
        }
      }

      .container {
        margin: 0 auto;
        max-width: 1200px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 5rem 8rem;

        @include responsive.mobile {
          grid-template-columns: 1fr;
        }

        article {
          @include responsive.mobile {
            text-align: center;
          }
          h3 {
            font-size: 2rem;
            color: colors.$green;
            margin-bottom: 1rem;
          }

          p {
            font-size: 1.5rem;
          }
        }
      }
    }

    .need-us {
      width: 100%;
      background: colors.$white;

      .container {
        margin: 0 auto;
        padding: 5rem;
        max-width: 1200px;
        display: grid;
        grid-template-columns: 2fr 3fr;
        gap: 5rem;
        @include responsive.mobile {
          grid-template-columns: 1fr;
        }

        header {
          display: flex;
          align-items: center;

          h2 {
            font-size: 4rem;
            font-weight: normal;
            .green {
              color: colors.$green;
            }

            @include responsive.medium-screen {
              font-size: 3.3rem;
            }
            @include responsive.mobile {
              font-size: 3.3rem;
              text-align: center;
              margin: 0 auto;
            }
          }
        }

        .points {
          .point {
            display: flex;
            align-items: center;
            gap: 1rem;
            margin-bottom: 2rem;

            .number {
              color: colors.$green;
              font-weight: bold;
              font-size: 2rem;
            }
          }
        }
      }

      .scroll-component {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 2rem;
      }
    }
  }
}
