@use 'colors';
@use 'responsive';

.events {
  &__main {
    .events-by-bellpepper {
      width: 100%;
      min-height: calc(100vh - 12rem);
      padding: 10vh 5% 0 5%;

      @include responsive.mobile {
        min-height: calc(100vh - 6rem);
        padding-bottom: 5rem;
      }

      .welcome-content {
        text-align: center;
        margin: 0 auto;
        max-width: 600px;

        .heading {
          font-size: 5rem;
          font-weight: normal;
          line-height: 6rem;

          &.bellpepper-font {
            font-size: 4rem;
          }
        }

        .body-text {
          font-size: 1.8rem;
          line-height: 3rem;
          margin-bottom: 4rem;
          margin-top: 2.5rem;
        }
      }
    }

    .scroll-component {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 8rem 0 -4rem 0;
    }
  }
}
