@use 'colors';
@use 'responsive';

footer {
  @include responsive.mobile {
    display: none;
  }
  width: 100%;
  background-color: colors.$dark_grey;
  padding: 4rem 4rem;
  margin-bottom: 0;
  a:hover {
    color: colors.$white;
    text-decoration: none;
  }

  .content {
    margin: 0 auto;
    max-width: 110rem;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
  }

  h3 {
    color: colors.$white;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
    text-align: center;
  }

  a {
    color: colors.$white;
    font-weight: normal;
  }

  svg {
    color: colors.$green;
  }

  .links {
    &__list {
      width: 100%;
      margin-top: 3.2rem;
    }

    &__item {
      padding-bottom: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;

      p {
        font-size: 1.3rem;
      }
    }

    &__link {
      transition: all 250ms ease;

      .underline {
        position: relative;
        top: 0.3rem;
        left: 50%;
        height: 0.2rem;
        width: 0;
        background-color: colors.$green;
        transition: all 250ms ease;
      }

      &:hover {
        .underline {
          width: 100%;
          left: 0;
        }
      }
    }
  }

  .social {
    .container {
      display: flex;
      justify-content: center;

      svg {
        width: 2.3rem;
      }
    }

    .link {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1rem;
      transition: all 250ms ease;

      &:hover {
        transform: scale(1.2);
      }
    }

    #social-fb-icon svg {
      width: 2.4rem;
    }
  }

  .contact {
    h3 {
      margin-bottom: 3rem;
    }

    &__phone,
    &__email {
      font-size: 1.4rem;
      display: flex;
      align-items: center;
      margin: 0 0 2rem 20%;

      p {
        font-size: 1.3rem;
      }

      @include responsive.medium-screen {
        margin-left: 2%;
      }

      svg {
        width: 2.3rem;
        margin-right: 2rem;
      }

      .underline {
        margin-top: 0.5rem;
        height: 0.2rem;
        width: 0;
        background-color: colors.$green;
        position: relative;
        left: 50%;
        transition: all 250ms ease;
      }

      &:hover {
        .underline {
          width: 100%;
          left: 0;
        }
      }
    }
  }

  .copyright {
    position: relative;
    bottom: -3rem;
    color: colors.$white;
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;

    .icon {
      font-size: 2rem;
      margin-right: 0.5rem;
    }
  }
}
