@use 'colors';
@use 'responsive';

.home-page {
  .navbar-main {
    position: fixed;
    top: 0;
  }

  &__main {
    .welcome {
      height: calc(100vh - 6rem);
      margin-top: 6rem;
      background-color: colors.$dark_grey;

      @include responsive.mobile {
        margin-top: 0;
      }

      .bellpepper-design-logo {
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        max-width: 55vw;
        z-index: 10;
        fill: colors.$green;
        pointer-events: none;

        @include responsive.medium-screen {
          height: calc(100vh - 6rem);
          top: 0;
          z-index: 10;
        }

        @include responsive.mobile {
          height: calc(100vh - 6rem);
          top: 6rem;
          z-index: 0;
          opacity: 0.1;
          max-width: 100vw;
        }
      }

      .info {
        position: absolute;
        top: 30vh;
        right: 10%;
        color: colors.$white;

        h1 {
          font-weight: normal;
          font-size: 4.3rem;
          margin-bottom: 1rem;
        }

        .contactBtn {
          margin-top: 2rem;
        }

        @include responsive.medium-lg-screen {
          text-align: center;
          // top: 35vh;
          right: 5%;
        }
        @include responsive.medium-screen {
          text-align: center;
          top: 35vh;
          right: 2%;
        }

        @include responsive.mobile {
          position: relative;
          top: 25vh;
          right: 0;
          text-align: center;
        }
      }
    }
  }

  .about-us {
    min-height: 100vh;
    width: 100%;

    .container {
      display: grid;
      grid-template-columns: 2fr 1fr;
      gap: 10rem;
      padding: 14rem 6% 5rem 6%;
      margin: 0 auto;
      max-width: 1400px;

      @include responsive.medium-screen {
        grid-template-columns: 1fr;
        text-align: center;
      }

      @include responsive.mobile {
        grid-template-columns: 1fr;
        text-align: center;
        padding-top: 7rem;
      }

      .text {
        .body-text {
          margin-bottom: 2rem;
        }

        .headline {
          margin-bottom: 3rem;

          .heading {
            font-size: 5rem;
          }
        }

        .contactBtn {
          margin-left: 40%;
          margin-top: 3rem;

          @include responsive.medium-screen {
            margin-left: 0;
          }
          @include responsive.mobile {
            margin-left: 0;
          }
        }
      }
    }

    .image {
      max-width: 50rem;
      height: 100%;
      margin-top: 2rem;

      img {
        width: 100%;
      }

      @include responsive.medium-lg-screen {
        margin-top: 15vh;
      }

      @include responsive.medium-screen {
        display: none;
      }
      @include responsive.mobile {
        display: none;
      }
    }
  }
}
