@use 'colors';
@use 'responsive';

.markets {
  &__main {
    .title-section {
      width: 100%;
      min-height: calc(100vh - 12rem);

      @include responsive.mobile {
        min-height: calc(100vh - 6rem);
      }

      .container {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 8rem;
        padding: 15vh 6% 5rem 6%;
        margin: 0 auto;
        max-width: 1400px;
        justify-items: center;
        align-content: center;

        @include responsive.medium-screen {
          grid-template-columns: 1fr;
          gap: 4rem;
          text-align: center;
          padding: 0 6% 5rem 6%;
        }

        @include responsive.mobile {
          grid-template-columns: 1fr;
          gap: 4rem;
          text-align: center;
          padding: 0 6% 5rem 6%;
        }

        header {
          margin-top: 14vh;
          @include responsive.mobile {
            margin-top: 20%;
          }
          h1 {
            font-weight: normal;
            font-size: 5.5rem;
            margin-bottom: 1rem;

            @include responsive.mobile {
              margin-bottom: 2rem;
            }
          }
        }

        .image {
          margin-top: 0;
          height: 100%;
          width: 100%;
          max-width: 650px;
          text-align: right;
          img {
            width: 100%;
            filter: grayscale(95%);
            transition: all 500ms ease;
          }

          &:hover {
            img {
              filter: grayscale(0%);
            }
          }

          @include responsive.no-hover {
            &:active {
              img {
                filter: grayscale(0%);
              }
            }
          }

          @include responsive.medium-lg-screen {
            margin-top: 1vh;
          }
          @include responsive.mobile {
            margin-top: 10%;
          }
        }
      }
    }

    .street-markets {
      width: 100%;
      background-color: colors.$white;

      .container {
        padding: 5rem;
        margin: 0 auto;
        max-width: 1400px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 4rem;

        @include responsive.medium-screen {
          grid-template-columns: 1fr;
          gap: 3rem;
        }

        @include responsive.mobile {
          grid-template-columns: 1fr;
          gap: 3rem;
          padding: 5%;
          text-align: center;
        }

        .video {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: left;

          @include responsive.medium-screen {
            grid-row: 2;
            justify-content: center;
          }
          @include responsive.mobile {
            grid-row: 2;
            justify-content: center;
          }

          iframe {
            width: calc(0.9 * 560px);
            height: calc(0.9 * 315px);

            @include responsive.medium-lg-screen {
              width: calc(0.8 * 560px);
              height: calc(0.8 * 315px);
            }

            @include responsive.medium-screen {
              width: 560px;
              height: 315px;
            }
            @include responsive.mobile {
              width: calc(0.5 * 560px);
              height: calc(0.5 * 315px);
            }
          }
        }

        .text {
          @include responsive.mobile {
            width: 100%;
          }
          h2 {
            font-size: 2rem;
            color: colors.$dark_green;
            margin-bottom: 2rem;

            @include responsive.mobile {
              text-align: center;
            }
          }
          p {
            margin-bottom: 2rem;
            line-height: 2.2rem;
          }
        }
      }

      .scroll-component {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 2rem;

        @include responsive.mobile {
          padding-top: 5rem;
        }
      }
    }
  }
}
