@use 'colors';
@use 'responsive';

.marketing {
  &__main {
    .welcome {
      height: calc(100vh - 12rem);
      width: 100%;
      padding-top: 10vh;

      &__content {
        text-align: center;
        max-width: 500px;
        margin: 0 auto 0 auto;

        .heading {
          font-size: 5rem;
          font-weight: normal;
          line-height: 9rem;
        }

        .body-text {
          line-height: 3rem;
          margin-top: 2.5rem;
          font-size: 1.8rem;
        }

        .contactBtn {
          margin-top: 4rem;
        }
      }
    }

    .recent-clients {
      width: 100%;
      padding: 5rem 0 7rem 0;
      background-color: colors.$white;

      h2 {
        font-size: 5rem;
        text-align: center;
        color: colors.$green;
        margin-bottom: 4rem;
      }

      &__container {
        margin: 0 auto;
        max-width: 900px;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
        gap: 5rem;
        padding: 0 5rem;

        .link {
          color: colors.$black;
          position: relative;

          p::after {
            content: "";
            width: 0;
            height: 0.2rem;
            background-color: colors.$green;
            position: absolute;
            bottom: -0.5rem;
            left: 50%;
            opacity: 0;
            transition: all 250ms ease;
          }

          &:hover {
            text-decoration: none;

            p::after {
              width: 100%;
              left: 0;
              opacity: 1;
            }
          }
        }

        // p {
        //   text-align: center;
        //   flex: 0 0 200px;
        // }
      }
    }
  }
}
