@use 'colors';
@use 'responsive';

.pricing {
  &__main {
    section {
      width: 100%;
      min-height: calc(100vh - 6rem);
      padding: 5rem;

      @include responsive.mobile {
        padding: 5rem 5%;
      }

      h1 {
        font-size: 5.5rem;
        text-align: center;
        font-weight: normal;
        margin-bottom: 5rem;
      }

      .container {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 12rem;
        padding: 0 6% 0 6%;
        margin: 0 auto;
        max-width: 1200px;

        @include responsive.medium-screen {
          gap: 8rem;
          padding: 0;
        }

        @include responsive.mobile {
          grid-template-columns: 1fr;
          text-align: center;
          gap: 4rem;
        }

        h2 {
          font-size: 3rem;
          font-weight: normal;
          @include responsive.mobile {
            margin-bottom: 1rem;
          }
        }

        h3 {
          font-size: 2.5rem;
          font-weight: normal;
          color: colors.$green;
          margin-bottom: 2rem;
        }
        .fee {
          margin: 2rem 0;
          line-height: 2rem;
        }
        .green {
          color: colors.$dark_green;
        }

        .body-text {
          p {
            margin-bottom: 2rem;
            line-height: 2.5rem;
          }
          .green {
            font-size: 2rem;
          }
        }
      }

      .contactBtn {
        margin-top: 2rem;
      }
    }
  }
}
