@use 'colors';
@use 'responsive';

.testimonial-section {
  width: 100%;
  padding: 5rem 0;
  text-align: center;
  background-color: colors.$white;
  position: relative;

  .charlieapple-logo {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 15rem;
    fill: colors.$green;

    @include responsive.medium-lg-screen {
      width: 10rem;
    }
    @include responsive.medium-screen {
      width: 8rem;
    }
    @include responsive.mobile {
      opacity: 0.1;
    }
  }

  .quote-svg {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 20rem;
    color: rgb(226, 225, 225);
    @include responsive.medium-lg-screen {
      width: 15rem;
    }
    @include responsive.medium-screen {
      width: 10rem;
    }
    @include responsive.mobile {
      width: 15rem;
      z-index: 0;
      opacity: 0.4;
      top: 1rem;
    }
  }

  h2 {
    color: colors.$green;
    font-size: 5rem;
    margin-bottom: 5rem;
    margin-top: 1rem;
    position: relative;
    z-index: 1;
    @include responsive.mobile {
      margin: 1rem 5% 1rem 5%;
    }
  }

  .testimonial {
    margin: 3rem auto;
    width: 50%;

    @include responsive.medium-lg-screen {
      width: 65%;
    }
    @include responsive.medium-screen {
      width: 80%;
    }
    @include responsive.mobile {
      width: 90%;
    }

    &__content {
      font-size: 1.5rem;
    }

    &__author {
      font-weight: bold;
      font-size: 1.7rem;
      margin-top: 1rem;

      .green {
        color: colors.$dark_green;
      }
    }
  }
}
