.testimonials-page {
  nav {
    position: sticky;
    top: 0;
  }

  .scroll-component {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 8rem 0 -4rem 0;
  }
}
