@use 'responsive';
@use 'colors';
@use 'navbar_main';
@use 'navbar_secondary';
@use 'footer';
@use 'contactBtn';
@use 'home';
@use 'design';
@use 'design_for_print';

@font-face {
  font-family: "brushtip";
  src: url("./fonts/btctrial-webfont.woff2") format("woff2"),
    url("./fonts/btctrial-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  background: colors.$dark_grey;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: colors.$green;
  font-weight: normal;
  transition: all 250ms ease;

  &:hover {
    color: lighten(colors.$green, 3%);
    text-decoration: underline;
  }
}

ul {
  list-style: none;
}

h1 {
  font-weight: bold;
  font-size: 4rem;
}

p {
  font-size: 1.6rem;
}

.brushtip {
  font-family: "brushtip", "Roboto", sans-serif;
}

.gradient-light {
  background-image: colors.$gradient_light;

  a {
    color: darken(colors.$green, 5%);

    &:hover {
      color: lighten(colors.$green, 3%);
    }
  }
}

.gradient-dark {
  background-image: colors.$gradient_dark;

  a {
    color: lighten(colors.$green, 5%);

    &:hover {
      color: lighten(colors.$green, 10%);
    }
  }
}

.testimonial-section {
  width: 100%;
  padding: 5rem 0;
  text-align: center;
  background-color: colors.$white;
  position: relative;

  .charlieapple-logo {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 15rem;
    fill: colors.$green;

    @include responsive.medium-lg-screen {
      width: 10rem;
    }
    @include responsive.medium-screen {
      width: 8rem;
    }
  }

  .quote-svg {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 20rem;
    color: rgb(226, 225, 225);
    @include responsive.medium-lg-screen {
      width: 15rem;
    }
    @include responsive.medium-screen {
      width: 10rem;
    }
  }

  h2 {
    color: colors.$green;
    font-size: 5rem;
    margin-bottom: 5rem;
  }

  .testimonial {
    margin: 3rem auto;
    width: 50%;

    @include responsive.medium-lg-screen {
      width: 65%;
    }
    @include responsive.medium-screen {
      width: 80%;
    }

    &__content {
      font-size: 1.5rem;
    }

    &__author {
      font-weight: bold;
      font-size: 1.7rem;
      margin-top: 1rem;

      .green {
        color: darken(colors.$green, 5%);
      }
    }
  }
}
