@use 'responsive';
@use 'colors';
@use 'navbar_main';
@use 'navbar_secondary';
@use 'footer';
@use 'contactBtn';
@use 'home';
@use 'design';
@use 'design_for_print';
@use 'testimonial-section';
@use 'logo-design';

@font-face {
  font-family: "brushtip";
  src: url("./fonts/btctrial-webfont.woff2") format("woff2"),
    url("./fonts/btctrial-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  background: colors.$dark_grey;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: colors.$green;
  font-weight: normal;
  transition: all 250ms ease;

  &:hover {
    color: lighten(colors.$green, 3%);
    text-decoration: underline;
  }
}

ul {
  list-style: none;
}

h1 {
  font-weight: bold;
  font-size: 4rem;
}

p {
  font-size: 1.6rem;
}

.brushtip {
  font-family: "brushtip", "Roboto", sans-serif;
}
