footer
  .content
    .links
      h3 Links
      ul.links__list
        li.links__item
          a.links__link(href="/pricing.html")
            p Pricing
            .underline
            
        li.links__item
          a.links__link(href="/contact-us.html")
            p Contact
            .underline

        li.links__item
          a.links__link(href="/sitemap.html")
            p Site Map
            .underline
            
        li.links__item
          a.links__link(href="/testimonials.html")
            p Testimonials
            .underline
    .social
      h3 Social
      .container
        a.link(href="http://www.twitter.com" target="_blank")
            include svg/twitter.svg
        
        a.link(href="http://www.facebook.com" target="_blank" id="social-fb-icon")
          include svg/facebook.svg 

        a.link(href="http://www.instagram.com" target="_blank")
          include svg/instagram.svg 

        a.link(href="http://www.linkedin.com" target="_blank")
          include svg/linkedin.svg 
      
    .contact
      h3 Get in touch
      .contact__phone  
        include svg/phone.svg
        a.contact__link(href="tel:+447973987779")
          p 07973 987 779
          .underline

      .contact__email  
        include svg/email.svg
        a.contact__link(href="mailto:info@charlieapple.com")
          p info@charlieapple.com
          .underline

  .copyright
    p.icon &copy;
    p.text Charlie Apple 2020.