footer
  .content
    .links
      h3 Links
      ul(class="links__list")
        li(class="links__item") 
          a.links__link(href="./prices.html")
            p Prices
            .underline
            
        li(class="links__item") 
          a.links__link(href="./contact.html")
            p Contact
            .underline

        li(class="links__item") 
          a.links__link(href="./sitemap.html")
            p Site Map
            .underline
            
        li(class="links__item") 
          a.links__link(href="./testimonials.html")
            p Testimonials
            .underline
            

    .social
      h3 Social
      .social__container
        
        a.social__link(href="http://www.twitter.com" target="_blank")
            include svg/twitter.svg
        
        a.social__link(href="http://www.facebook.com" target="_blank")
          include svg/facebook.svg 

        a.social__link(href="http://www.instagram.com" target="_blank")
          include svg/instagram.svg 

        a(href="http://www.linkedin.com" target="_blank" class="social__link")
          include svg/linkedin.svg 

    .contact
      h3 Get in touch
      
      .contact__container
        .contact__phone  
          include svg/phone.svg
          a.contact__link(href="tel:+447973987779")
            p 07973 987 779
            .underline

        .contact__email  
          include svg/email.svg
          a.contact__link(href="mailto:info@charlieapple.com")
            p info@charlieapple.com
            .underline

  .copyright
    p.icon &copy;
    p.text Charlie Apple 2020.