footer
  .content
    .links
      h3 More
      ul.links__list
        li.links__item
          a.links__link(href="./pricing")
            p Pricing
            .underline
            
        li.links__item
          a.links__link(href="./contact-us")
            p Contact 
            .underline

        li.links__item
          a.links__link(href="./testimonials")
            p Testimonials
            .underline
        
        li.links__item
          a.links__link(href="./privacy")
            p Privacy
            .underline

        li.links__item
          a.links__link(href="./sitemap")
            p Site Map
            .underline
            
    .social
      h3 Social
      .container
        include social-icons
      
    .contact
      h3 Get in touch
      .contact__phone  
        include svg/phone.svg
        a.contact__link(href="tel:+447973987779")
          p 07973 987 779
          .underline

      .contact__email  
        include svg/email.svg
        a.contact__link(href="mailto:info@bellpepperdesign.co.uk")
          p info@bellpepperdesign.co.uk
          .underline

  .copyright
    p.icon &copy;
    p.text Bell Pepper Design 
      span.footer-year
