meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-31084152-1"></script>
script(src="./js/googleAnalytics.js")

link(rel="shortcut icon", href="images/favicon.png", type="image/png")
link(rel="stylesheet", href="./main.css")
link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap")
script(src="./js/mobileMenu.js" defer)