.mobile-menu__bar 
  a(href="/index.html")
    include svg/charlieapple.svg
  .menu-btn
    .menu-btn__burger



mixin mobileMenu(main, sub)
  .mobile-menu__menu

    nav.mobile-menu__main-nav
      ul
        li.main-nav__list-item#main-menu__events(class = main == "events" ? "active" : "")
          p Events
          .underline
        li.main-nav__list-item#main-menu__design(class = main == "design" ? "active" : "")
          p Design
          .underline
        li.main-nav__list-item#main-menu__marketing(class = main == "marketing" ? "active" : "")
          p Marketing
          .underline
        li.main-nav__list-item#main-menu__more(class = main == "more" ? "active" : "") 
          p More
          .underline
    .seperator

    nav.mobile-menu__secondary-nav
      
      ul(id="events-list" class = main == "events" ? "secondary-nav__list original" : "secondary-nav__list remove fade-out")
        li
          a(href="./events.html") Events
          if sub == "events"
            .underline
        li 
          a(href="/event-management.html") Event Management
          if sub == "event management"
            .underline
        li 
          a(href="./markets.html") Markets
          if sub == "markets"
            .underline

    
      ul(id="design-list", class = main == "design" ? "secondary-nav__list original" : "secondary-nav__list remove fade-out" )
        li 
          a(href="./graphic-design.html") Design
          if sub == "design"
            .underline
        li
          a(href="./website-design.html") Website Design
          if sub == "website design"
            .underline

        li 
          a(href="./design-for-print.html") Design for Print
          if sub == "design for print"
            .underline
        
        li 
          a(href="./logo-design.html") Logo Design
          if sub == "logo design"
            .underline

    
      ul(id="marketing-list", class = main == "marketing" ? "secondary-nav__list original" : "secondary-nav__list remove fade-out" )
        li 
          a(href="./marketing.html") Marketing
          if sub == "marketing"
            .underline
        li
          a(href="./workshops.html") Workshops
          if sub == "workshops"
            .underline
        li 
          a(href="./freelance-marketing.html") Freelance
          if sub == "freelance"
            .underline
        li 
          a(href="./social-media.html") Social Media
          if sub == "social media"
            .underline
        li 
          a(href="./copywriting-services.html") Copywriting
          if sub == "copywriting"
            .underline
        li 
          a(href="./consultancy.html") Consultancy
          if sub == "consultancy"
            .underline

    
      ul(id="more-list", class = main == "more" ? "secondary-nav__list original" : "secondary-nav__list remove fade-out" )
        li 
          a(href="./pricing.html") Pricing
          if sub == "pricing"
            .underline
        li 
          a(href="./privacy.html") Privacy
          if sub == "privacy"
            .underline
        li 
          a(href="./contact-us.html") Contact
          if sub == "contact"
            .underline
        li 
          a(href="./sitemap.html") Site Map
          if sub == "sitemap"
            .underline
        li 
          a(href="./testimonials.html") Testimonials
          if sub == "testimonials"
            .underline

    #contact
      #contact__phone  
        include svg/phone.svg
        a.contact__link(href="tel:+447973987779")
          p 07973 987 779
          .underline

      #contact__email  
        include svg/email.svg
        a.contact__link(href="mailto:info@charlieapple.com")
          p info@charlieapple.com
          .underline

    #social
      .container
        a.link(href="http://www.twitter.com" target="_blank")
            include svg/twitter.svg
        
        a.link(href="http://www.facebook.com" target="_blank" id="social-fb-icon")
          include svg/facebook.svg 

        a.link(href="http://www.instagram.com" target="_blank")
          include svg/instagram.svg 

        a.link(href="http://www.linkedin.com" target="_blank")
          include svg/linkedin.svg 