.mobile-menu__bar 
  a(href="./")
    include svg/bellpepper-design.svg
  .menu-btn
    .menu-btn__burger



mixin mobileMenu(main, sub)
  .mobile-menu__menu

    nav.mobile-menu__main-nav
      ul
        li.main-nav__list-item#main-menu__design(class = main == "design" ? "active" : "")
          p Design
          .underline
        li.main-nav__list-item#main-menu__marketing(class = main == "marketing" ? "active" : "")
          p Marketing
          .underline
        li.main-nav__list-item#main-menu__events(class = main == "events" ? "active" : "")
          p Events
          .underline
        li.main-nav__list-item#main-menu__more(class = main == "more" ? "active" : "") 
          p More
          .underline
    .seperator

    nav.mobile-menu__secondary-nav
      
      ul(id="events-list" class = main == "events" ? "secondary-nav__list original" : "secondary-nav__list remove fade-out")
        li
          a(href="./events") Events
          if sub == "events"
            .underline
        li 
          a(href="./event-management") Event Management
          if sub == "event management"
            .underline
        li 
          a(href="./markets") Markets
          if sub == "markets"
            .underline

    
      ul(id="design-list", class = main == "design" ? "secondary-nav__list original" : "secondary-nav__list remove fade-out" )
        li 
          a(href="./graphic-design") Design
          if sub == "design"
            .underline
        li
          a(href="./website-design") Website Design
          if sub == "website design"
            .underline

        li 
          a(href="./design-for-print") Design for Print
          if sub == "design for print"
            .underline
        
        li 
          a(href="./logo-design") Logo Design
          if sub == "logo design"
            .underline

    
      ul(id="marketing-list", class = main == "marketing" ? "secondary-nav__list original" : "secondary-nav__list remove fade-out" )
        li 
          a(href="./marketing") Marketing
          if sub == "marketing"
            .underline
        li
          a(href="./workshops") Workshops
          if sub == "workshops"
            .underline
        li 
          a(href="./freelance-marketing") Freelance
          if sub == "freelance"
            .underline
        li 
          a(href="./social-media") Social Media
          if sub == "social media"
            .underline
        li 
          a(href="./copywriting-services") Copywriting
          if sub == "copywriting"
            .underline
        li 
          a(href="./consultancy") Consultancy
          if sub == "consultancy"
            .underline

    
      ul(id="more-list", class = main == "more" ? "secondary-nav__list original" : "secondary-nav__list remove fade-out" )
        li 
          a(href="./pricing") Pricing
          if sub == "pricing"
            .underline
        li 
          a(href="./privacy") Privacy
          if sub == "privacy"
            .underline
        li 
          a(href="./contact-us") Contact
          if sub == "contact"
            .underline
        li 
          a(href="./sitemap") Site Map
          if sub == "sitemap"
            .underline
        li 
          a(href="./testimonials") Testimonials
          if sub == "testimonials"
            .underline

    #contact
      #contact__phone  
        include svg/phone.svg
        a.contact__link(href="tel:+447973987779")
          p 07973 987 779
          .underline

      #contact__email  
        include svg/email.svg
        a.contact__link(href="mailto:info@bellpepperdesign.com")
          p info@bellpepperdesign.com
          .underline

    #social
      .container
        include social-icons