a.link(href="https://www.google.co.uk/search?ved=1t:65428&_ga=2.117849417.1334736381.1610037536-331785645.1608772192&q=Bell+Pepper+Design&ludocid=1048158462121102296&lsig=AB86z5VYpfR8YGvh_TyGcOS-QHb-#fpstate=lie" target="_blank")
  include svg/google-brands.svg

a.link(href="https://twitter.com/bellpepperdsign" target="_blank")
  include svg/twitter.svg
        
a.link(href="https://www.facebook.com/bellpepperdesign" target="_blank" id="social-fb-icon")
  include svg/facebook.svg 

a.link(href="https://www.instagram.com/bellpepperdesign/" target="_blank")
  include svg/instagram.svg 

a.link(href="https://www.linkedin.com/company/bellpepperdesign" target="_blank")
  include svg/linkedin.svg