<!DOCTYPE html>
html(lang="en")
  head
    include includes/head
    title contact charlie apple events, design, marketing
    meta(name="description", content="contact Charlie Apple by phone, email, social media or our contact form for marketing, event management, web design, graphic design")
    script(src="/js/contactUs.js" defer)
    include includes/mobile-menu
    +mobileMenu("more", "contact")


  body.contact-us
    include includes/navbarMain
    +navbarMain("logo", "")

    main.contact-us__main

      section.gradient-light
        h1 Contact Us

        .container
          article.body-text
            .title
              h2 Drop us a line.
              h3 Give us a call or fill in a form.

            .text
              p If you would like to discuss a project, please contact us in any way you want, we don’t mind, and we promise to get back to you within 24 hours.

            .contact
              .contact__phone  
                include includes/svg/phone.svg
                a.contact__link(href="tel:+447973987779")
                  p 07973 987 779
                  .underline

              .contact__email  
                include includes/svg/email.svg
                a.contact__link(href="mailto:info@charlieapple.com")
                  p info@charlieapple.com
                  .underline

            .social
              .social__container
                a.link(href="http://www.twitter.com" target="_blank")
                  include includes/svg/twitter.svg
          
                a.link(href="http://www.facebook.com" target="_blank" id="social-fb-icon")
                  include includes/svg/facebook.svg 

                a.link(href="http://www.instagram.com" target="_blank")
                  include includes/svg/instagram.svg 

                a.link(href="http://www.linkedin.com" target="_blank")
                  include includes/svg/linkedin.svg 

          .contact-form
            
            form(name="contact-us" method="post" action="https://formspree.io/f/mrgokjek")
              
              fieldset.details

                p.title Your Details
                div.spacer
                .text-input
                  label.form-detail-label(for="name") Name *
                  input.form-detail-input(type="text", name="name" id="name" required)
                  .hoverline
                  .activeline
                .text-input
                  label.form-detail-label(for="company") Company
                  input.form-detail-input(type="text", name="company" id="company")
                  .hoverline
                  .activeline
                .text-input
                  label.form-detail-label(for="phone") Phone
                  input.form-detail-input(type="tel", name="phone" id="phone")
                  .hoverline
                  .activeline
                .text-input
                  label.form-detail-label(for="email") Email *
                  input.form-detail-input(type="email", name="email" id="email" required)
                  .hoverline
                  .activeline

              fieldset.services 
                p.title Services Required
                .services__container
                  .checkbox
                    input(type="checkbox", name="services" id="event-management" value="event-management")
                    label(for="event-management") Event Management
                  
                  .checkbox
                    input(type="checkbox", name="services" id="website-design" value="website-design")
                    label(for="website-design") Website Design
                  
                  .checkbox
                    input(type="checkbox", name="services" id="graphic-design" value="graphic-design")
                    label(for="graphic-design") Graphic Design
                  
                  .checkbox
                    input(type="checkbox", name="services" id="social-media" value="social-media")
                    label(for="social-media") Social Media
                  
                  .checkbox
                    input(type="checkbox", name="services" id="copywriting" value="copywriting")
                    label(for="copywriting") Copywriting
                  
                  .checkbox
                    input(type="checkbox", name="services" id="freelance" value="freelance")
                    label(for="freelance") Freelance
                  
                  .checkbox
                    input(type="checkbox", name="services" id="consultancy" value="consultancy")
                    label(for="consultancy") Consultancy
                  
                  .checkbox
                    input(type="checkbox", name="services" id="event-management" value="event-management")
                    label(for="event-management") Event Management

              fieldset.message-area 
                p.title Additional Info
                .text-area
                  textarea(name="message", id="message", cols="30", rows="5" placeholder="Send us a message...")

              fieldset.feedback
                select(name="contact-method" id="contact-method")
                  option(value="" disabled selected) Preferred contact method
                  option(value="Phone") Phone
                  option(value="email") Email

                select(name="hear-about-us" id="hear-about-us")
                  option(value="" disabled selected) How did you hear about us?
                  option(value="google or search") Google or online search engine
                  option(value="online directory") Online directory
                  option(value="referral or recommendation") Referral or recommendation

              input(type="submit", value="Send" id="send-button")
            

    include includes/footer