<!DOCTYPE html>
html(lang="en")
  head
    include includes/head
    title freelance marketing consultant, hire a freelancer, marketing freelancer
    meta(name="description", content="freelance marketing, freelance training, freelance social media, freelance seo, freelance copywriting")


  body#top-section.freelance
    include includes/navbarMain
    +navbarMain("logo", "marketing")
    include includes/navbarSecondary
    +navbarSecondary("marketing", "freelance")
    include includes/mobile-menu
    +mobileMenu("marketing", "freelance")

    main.freelance__main

      section.freelance-marketing.gradient-light
        .container
          header
            h1.heading Freelance<br />
              span.green Marketing
            include includes/contactBtn

          article.body-text
            h2 Charged daily or hourly for a full range of marketing services. 
            h2.green Use us for your next campaign or when you're under resourced.

            p If you’re not sure what you need in the way of marketing services, but you know you have a whole host of marketing activities that you need to get done for your business, why not hire Charlie Apple on a freelance basis. Under our freelance marketing service, we will work with you on an ad-hoc basis. This means that you can call upon our expertise on an hourly or daily basis, as and when you need us, for as short or as long as you want.

            p For corporate businesses, we can be added to your roster of freelancers or contract workers, to boost your team’s capacity - and thereby company savings - or to provide interim marketing while recruiting a permanent post or to run a specific campaign.

            p For small businesses, the timing may not be right to permanently employ a marketer due to a start-up period or market changes, but you know you need to address your marketing activities. By using our freelance marketing service, you gain seasoned marketing expertise without the commitment of permanent employment.  You can tap into us when you need us.

            p Our rates are fixed under this service at £75 per hour. We do not have a minimum charge of 1 hour (or more) as most companies do, we are a little unique in that our minimum charge is just 30 minutes (£40) - if that’s all you need, that’s all you’ll be charged for.  So if you don’t need anything longterm, and you just need some marketing advice that’s specific to your business, your situation or your campaign,  why not book a 30 minute video call with us anytime.
          

      section.testimonial-section
        include includes/svg/charlieapple.svg
        include includes/svg/quote.svg 

        h2 What our clients say
        
        article.testimonial
          p.testimonial__content I first met dealt with Charlie Apple whilst working at a promotional event in Wimbledon. From the first meeting I knew they would be easy to work with. They would listen attentively, offer advice and share their marketing experience. Since our meet, I have asked them to assist me with a couple of promotional projects for my business which is new and growing. As time is so valuable when starting out, I really appreciated that we didn’t need to discuss the work for hours and we didn’t have too many proofs backward and forward. This for me is a real testament to their focus and expertise along with their years of marketing experience, they just dealt with the ‘job in hand’.  Their attention to detail and desire to meet the needs of their clientele ensure that they provides a service which is efficient and  professional. Thank you guys!
          p.testimonial__author Maria Jessiman, Owner, 
            span.green Lu-Ma Cafe

        article.testimonial
          p.testimonial__content I have had the pleasure of working with Charlie Apple on the redesigning of one of our adverts which was due to go out in a local brochure. The speed and efficiency they showed was top quality, their professional and friendly attitude helped us to work together to get the best results for our practice.  I would highly recommend Charlie Apple to anyone considering marketing ideas.
          p.testimonial__author Sharon Freer, Practice Manager, 
            span.green Wimbledon Dental Studio

        article.testimonial
          p.testimonial__content Charlie Apple helped to manage several events for Mosaic Languages and organised our marketing communications and strategy planning. I greatly value their input. We are now also using Charlie Apple for our website design and updating. I would not hesitate to recommend them.
          p.testimonial__author Corinne Gauthier-Capes, Director, 
            span.green Mosaic Langauges

        .scroll-component
          include includes/scroll-to-top


    include includes/footer
    include includes/mobileFooter