<!DOCTYPE html>
html(lang="en")
  head
    include includes/head
    title graphic design, website design, logo design, brochure design, flyer design
    meta(name="description", content="graphic design services including web design, logo design, brochure design, flyer design and business card design")

  body.design-page
    include includes/navbarMain
    +navbarMain("logo", "design")
    include includes/navbarSecondary
    +navbarSecondary("design", "")

    main.design-page__main

      header.welcome.gradient-light
        .welcome__content
          p.heading Designed
          p.heading.brushtip by Charlie Apple
          p.body-text Whether you’re a new business that needs a full brand design, or a long established company that needs a refresh #[a(href="/contact-us.html") contact us] and find out what we can do for you.
          include includes/contactBtn

      section.graphic-design.gradient-dark
        article.graphic-design__content
          .graphic-design__text
            h1 Graphic Design
            h2 Designs that bring out the best in your business.

            p Graphic design comes in many guises - websites, logos, brochures, stationery, advertising, flyers, exhibition graphics, roller banners, infographics, signage, packaging - the list goes on. Whether you are a new business just starting and you need a full brand design, or a long established business that needs a refresh, #[a(href="/contact-us.html") contact us] and find out what we can do for you.

          .graphic-design__image
            img(src="./images/charlieapple-flat-lay.png", alt="Flat lay showcasing digital design and design for print.")

      section.recent-clients.gradient-light
        .recent-clients__content
          h2 Recent Clients
          .recent-clients__text
            p Love Wimbledon
            p Azadi Acupuncture
            p Little Olive Company
            p The Angel's Touch
            p Noura London
            p AlphaCare
            p Gleeson Framers
            p Fayre & Square
            p Sai Restaurant
            p Safety Delivery
            p Darling Magazine
            p Ian Dunn Design
            p Bonita Candles
            p Simpson Millar Solicitors
            p Carole's Creperie
            p Unity of Self
            p Milner School of English
            p Wimbledon Pilates Clinic
            p Lu-Ma Cafe
            p Cleo Clinic
            p Bertie's Wine Bar
            p Gustosissima
            p Mayrose Care
            p Aeonian Venues
            p Sarah Castle Consultancy
            p Silver Petals Jewellery
            p Venue 28
            p Maggie's Diner
            p Balloon Design Studio
            p Key To Change
            p Laborjee Bakery
            p David Lewis Illustration
            p Quality Stitch London
            p Merton Chamber of Commerce
            p Ali's Emporium
            p Ecuadorian Imports

    include includes/footer