<!DOCTYPE html>
html(lang="en")
  head
    include includes/head
    title graphic design, website design, logo design, brochure design, flyer design
    meta(name="description", content="graphic design services including web design, logo design, brochure design, flyer design and business card design")

  body#top-section.design-page
    include includes/navbarMain
    +navbarMain("logo", "design")
    include includes/navbarSecondary
    +navbarSecondary("design", "")
    include includes/mobile-menu
    +mobileMenu("design", "design")

    main.design-page__main

      header.welcome.gradient-light
        .welcome__content
          p.heading Designed
          p.heading.bellpepper-font by Bell Pepper Design
          p.body-text Whether you’re a new business that needs a full brand design, or a long established company that needs a refresh #[a(href="./contact-us.html") contact us] and find out what we can do for you.
          include includes/contactBtn

      section.graphic-design.gradient-dark
        article.graphic-design__content
          .graphic-design__text
            h1 Graphic Design
            h2 Designs that bring out the best in your business.

            p Graphic design comes in many guises - websites, logos, brochures, stationery, advertising, flyers, exhibition graphics, roller banners, infographics, signage, packaging - the list goes on. Whether you are a new business just starting and you need a full brand design, or a long established business that needs a refresh, #[a(href="./contact-us.html") contact us] and find out what we can do for you.

          .graphic-design__image
            img(src="./images/bellpepper-flat-lay.png", alt="Flat lay showcasing digital design and design for print. Designed by Freepik on Freepik.com")

      section.recent-clients.gradient-light
        .recent-clients__content
          h2 Recent Clients
          .recent-clients__text
            .client
              a.link(href="http://www.lovewimbledon.org" target="_blank")
                p Love Wimbledon
            .client
              a.link(href="http://www.acupuncturetreatments.co.uk" target="_blank")
                p Azadi Acupuncture
            .client
              a.link(href="http://www.littleolivecompany.co.uk" target="_blank")
                p Little Olive Company
            .client
              a.link(href="http://www.theangelstouch.co.uk" target="_blank")
                p The Angel's Touch
            .client
              a.link(href="http://www.nouralondon.com" target="_blank")
                p Noura London
            .client
              a.link(href="http://www.alphacareltd.co.uk" target="_blank")
                p AlphaCare
            .client
              a.link(href="http://www.gleesonframers.co.uk" target="_blank")
                p Gleeson Framers
            .client
              a.link(href="http://www.fayresquarewimbledon.org/" target="_blank")
                p Fayre & Square
            .client
              a.link(href="http://www.sairestaurant.co.uk" target="_blank")
                p Sai Restaurant
            .client
              a.link(href="http://www.safetydelivery.co.uk" target="_blank")
                p Safety Delivery
            .client
              a.link(href="http://www.darlingmagazine.co.uk" target="_blank")
                p Darling Magazine
            .client
              a.link(href="http://www.iandunn.com" target="_blank")
                p Ian Dunn Design
            .client
              a.link(href="http://www.bonitacandles.co.uk" target="_blank")
                p Bonita Candles
            .client
              a.link(href="http://www.simpsonmillar.co.uk" target="_blank")
                p Simpson Millar Solicitors
            .client
              a.link(href="http://www.carolescreperie.co.uk" target="_blank")
                p Carole's Creperie
            .client
              .link
                p Unity of Self
            .client
              a.link(href="http://www.milnerschool.co.uk" target="_blank")
                p Milner School of English
            .client
              a.link(href="http://www.thepilatesclinic.com" target="_blank")
                p Wimbledon Pilates Clinic
            .client
              a.link(href="http://www.lu-ma.co.uk" target="_blank")
                p Lu-Ma Cafe
            .client
              a.link(href="http://www.cleoclinic.co.uk" target="_blank")
                p Cleo Clinic
            .client
              a.link(href="http://www.lovewimbledon.org/news/portfolio-item/berties-wine-bar/" target="_blank")
                p Bertie's Wine Bar
            .client
              a.link(href="http://www.gustosissima.com" target="_blank")
                p Gustosissima
            .client
              a.link(href="http://www.mayrosecare.co.uk" target="_blank")
                p Mayrose Care
            .client
              .link
                p Aeonian Venues
            .client
              a.link(href="http://www.sarahcastle.co.uk" target="_blank")
                p Sarah Castle Consultancy
            .client
              a.link(href="http://www.silverpetalsjewellery.com" target="_blank")
                p Silver Petals Jewellery
            .client
              a.link(href="http://www.venue28.com" target="_blank")
                p Venue 28
            .client
              .link
                p Maggie's Diner
            .client
              a.link(href="http://www.balloondesignstudio.co.uk" target="_blank")
                p Balloon Design Studio
            .client
              a.link(href="http://www.keytochangehypnotherapy.com" target="_blank")
                p Key To Change
            .client
              a.link(href="http://www.laborjee.co.uk" target="_blank")
                p Laborjee Bakery
            .client
              a.link(href="http://www.davidlewisillustration.com" target="_blank")
                p David Lewis Illustration
            .client
              a.link(href="http://www.qualitystitchlondon.co.uk" target="_blank")
                p Quality Stitch London
            .client
              a.link(href="http://www.mertonchamber.co.uk" target="_blank")
                p Merton Chamber of Commerce
            .client
              a.link(href="http://www.alisemporium.co.uk" target="_blank")
                p Ali's Emporium
            .client
              a.link(href="https://theascotsockcompany.co.uk/" target="_blank")
                p The Ascot Sock Company
            .client
              .link
                p Monster Cookies
        
        .scroll-component
          include includes/scroll-to-top

    include includes/footer
    include includes/mobileFooter