<!DOCTYPE html>
html(lang="en")
  head
    include includes/head
    title Bell Pepper Design. Event Management. Graphic Design. Marketing.
    meta(name="description", content="Independent Marketing Services company specialising in Event Management, Marketing Communications Planning, Copywriting, Telemarketing and Web Design for the small to medium sized business.")

  body.home-page
    include includes/navbarMain
    +navbarMain()
    include includes/mobile-menu
    +mobileMenu("design", "")

    main.home-page__main

      header.welcome 
        include includes/svg/bellpepper-design.svg 
        .info
          h1 Graphic Design. <br /> 
            | Marketing. <br />
            | Events.
          include includes/contactBtn

      section.about-us.gradient-light
        article.container
          .text
            .headline
              h2.heading 
                | Who we are. <br/>
                | What we do.

            p.body-text We are an independent events and marketing services company with over 30 years’ experience under our belt. We have worked with businesses of all shapes and sizes, from sole traders to corporates, in retail and services, commercial and non-profits, B2B and B2C, and across many industry sectors.

            p.body-text Let us use our expertise to help you with any one or more of the services we offer - #[a(href="./events") event management], #[a(href="./website-design") website design], #[a(href="./graphic-design") graphic design], #[a(href="./marketing") marketing communications and strategy], #[a(href="./social-media") social media management], #[a(href="./copywriting-services") copywriting and proofreading] or #[a(href="./consultancy") freelance marketing consultancy].

            p.body-text We can even train you or your staff through our #[a(href="/workshops") workshops and training] service, bringing our expertise to your door.

            p.body-text Your costs will be fixed for each project at the outset so you can be confident that your campaign can run to budget. 

            p.body-text #[a(href="tel:+447973987779") Call us] on 07973 987 779 to have a chat about your next project, drop us an #[a(href="mailto:info@bellpepperdesign.com") email] or fill in our #[a(href="./contact-us") contact form]. Whichever way you get in touch, we’ll reply within 24 hours!

            include includes/contactBtn

          .image
            img(src="./images/about-us.jpg", alt="close up of a basket of green bell peppers")



    include includes/footer
    include includes/mobileFooter

    