<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    include includes/head
    title Charlieapple

  body.home-page
    include includes/navbarMain
    +navbarMain()

    main.home-page__main

      section.welcome
        include includes/svg/charlieapple.svg 
        .info
          h1 Event Management.
          h1 Graphic Design.
          h1 Marketing.
          include includes/contactBtn

      section.about-us.gradient-light
        .text
          .headline
            h1 Who we are.
            h1 What we do.

          p.body-text We are an independent events and marketing services company with over 30 years’ experience under our belt. We have worked with #[a(href="#") businesses] of all shapes and sizes, from sole traders to corporates, in retail and services, commercial and non-profits, B2B and B2C, and across many industry sectors.

          p.body-text Let us use our expertise to help you with any one or more of the services we offer - #[a(href="#") event management], #[a(href="#") website design], #[a(href="#") graphic design], #[a(href="#") marketing communications and strategy], #[a(href="#") social media strategy], #[a(href="#") copywriting and proofreading] or #[a(href="#") freelance marketing consultancy].

          p.body-text We can even train you or your staff through our #[a(href="#") workshops and training] service, bringing our expertise to your door.

          p.body-text Your costs will be fixed for each project at the outset so you can be confident that your campaign can run to budget. 

          p.body-text Call us on #[a(href="tel:+447973987779") 07973 987 779] to have a chat about your next project, drop us an email or fill in our contact form. Whichever way you get in touch, we’ll reply within hours!

          include includes/contactBtn

        .image
          img(src="./images/about-us.png", alt="hands holding a green apple")



    include includes/footer