<!DOCTYPE html>
html(lang="en")
  head
    include includes/head
    title Marketing
    meta(name="description", content="marketing, product marketing, business marketing, sme, small business, medium business, social media, ecommerce, shopify, wordpress")
  
  body#top-section.marketing
    include includes/navbarMain
    +navbarMain('logo', 'marketing')
    include includes/navbarSecondary
    +navbarSecondary("marketing", "") 
    include includes/mobile-menu
    +mobileMenu("marketing", "marketing")


    main.marketing__main

      header.welcome.gradient-light
        .welcome__content
          p.heading Marketing
          p.heading.brushtip by Bell Pepper Design
          p.body-text Making your brand a success story.
          include includes/contactBtn

      section.recent-clients
        h2 Recent Clients
        .recent-clients__container
          .link
            p Venue 28
          .link
            p Bonita Candles
          .link
            p Northskull
          .link
            p Lu-Ma Cafe
          .link
            p Milner School of English
          .link
            p Cleo Clinic
          .link
            p Bertie's Wine Bar
          .link
            p Wimbledon Pilates Clinic
          .link
            p Hey Lovely Buns
          .link
            p Mosaic Languages
          .link
            p Aeonian Venues
          .link
            p Ian Dunn Design
          .link
            p Noura London
          .link
            p Angel's Touch
          .link
            p Carole's Creperie
          .link
            p Unity of Self

        .scroll-component
          include includes/scroll-to-top

    include includes/footer
    include includes/mobileFooter