<!DOCTYPE html>
html(lang="en")
  head
    include includes/head
    title Marketing
    meta(name="description", content="marketing, product marketing, business marketing, sme, small business, medium business, social media, ecommerce, shopify, wordpress")
    script(src="/js/mobileMenu.js" defer)
  
  body#top-section.marketing
    include includes/navbarMain
    +navbarMain('logo', 'marketing')
    include includes/navbarSecondary
    +navbarSecondary("marketing", "") 
    include includes/mobile-menu
    +mobileMenu("marketing", "workshops")


    main.marketing__main

      header.welcome.gradient-light
        .welcome__content
          p.heading Marketing
          p.heading.brushtip by Charlie Apple
          p.body-text Making your brand a success story.
          include includes/contactBtn

      section.recent-clients
        h2 Recent Clients
        .recent-clients__container
          a.link(href="http://www.venue28.com" target="_blank")
            p Venue 28
          a.link(href="http://www.bonitacandles.co.uk" target="_blank")
            p Bonita Candles
          a.link(href="http://www.northskull.com" target="_blank")
            p Northskull
          a.link(href="http://www.lu-ma.co.uk" target="_blank")
            p Lu-Ma Cafe
          a.link(href="http://www.milnerschool.co.uk" target="_blank")
            p Milner School of English
          a.link(href="http://www.cleoclinic.co.uk" target="_blank")
            p Cleo Clinic
          a.link(href="http://www.lovewimbledon.org/news/portfolio-item/berties-wine-bar/" target="_blank")
            p Bertie's Wine Bar
          a.link(href="http://www.thepilatesclinic.com" target="_blank")
            p Wimbledon Pilates Clinic
          a.link(href="http://www.heylovelybuns.co.uk" target="_blank")
            p Hey Lovely Buns
          a.link(href="http://www.mosaiclanguages.co.uk" target="_blank")
            p Mosaic Languages
          a.link(href="#" target="_blank")
            p Aeonian Venues
          a.link(href="http://www.iandunn.com" target="_blank")
            p Ian Dunn Design
          a.link(href="http://www.nouralondon.com" target="_blank")
            p Noura London
          a.link(href="http://www.theangelstouch.co.uk" target="_blank")
            p Angel's Touch
          a.link(href="http://www.carolescreperie.co.uk" target="_blank")
            p Carole's Creperie
          a.link(href="#" target="_blank")
            p Unity of Self

        .scroll-component
          include includes/scroll-to-top

    include includes/footer