<!DOCTYPE html>
html(lang="en")
  head
    include includes/head
    title market management, market organiser, street markets
    meta(name="description", content="market management, market organiser, street market, food market, arts market, artisan market, christmas market")


  body#top-section.markets
    include includes/navbarMain
    +navbarMain("logo", "events")
    include includes/navbarSecondary
    +navbarSecondary("events", "markets")

    main.markets__main

      section.title-section.gradient-light
        .container
          header
            h1 Markets
            include includes/contactBtn

          .image
            img(src="./images/markets.jpg", alt="a business event with a large audience, a stage and a big screen")

      section.street-markets.gradient-light
        .container
          .video
            <iframe src="https://www.youtube.com/embed/D_VZFO2Z9RA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

          .text
            h2 Street, Specialist, Food, Artisan, Christmas, Arts Markets and More
            p Charlie Apple has been the market management contractor for the markets in Wimbledon Town Centre for Love Wimbledon since they began in 2012. These include the monthly markets, which operate March through to November, the Christmas markets, which are weekly through December and the annual Arts Market held in September each year.
            p We have also provided consultancy and advisory services to a number of other organisations in the south east for the setting up and running of their own local markets or special events.
            p We can provide full market management or assist you with the planning and layouts for your market, whether it is a one-off event or a regular fixture in your area. Please get in touch for an initial discussion.

        .scroll-component
          include includes/scroll-to-top

    include includes/footer