<!DOCTYPE html>
html(lang="en")
  head
    include includes/head
    title pricing for marketing services
    meta(name="description", content="web design, marketing, event management, markets, freelance, design for print, business cards, flyers")


  body.pricing
    include includes/navbarMain
    +navbarMain("logo", "")
    include includes/mobile-menu
    +mobileMenu("more", "pricing")

    main.pricing__main

      section.gradient-light
        h1 Pricing

        .container
          article.body-text
            h2 Our fees explained
            h3 Flexibility with no hidden extras

            p While many marketing consultancies hide their costs until they’re sitting in front of you, Bell Pepper Marketing believes in an “all cards on the table” approach. So you can prepare your marketing budgets or provide a cost comparison, we are laying our charges out in full on our website. 

            p.green Here they are:

            p All services are priced at £475 per day, or £75 per hour. When a quote is given, the project is costed on the expected number of days to fulfil the contract. This price can be fixed at the time of entering into the contract, or it can be invoiced on an “actual” ongoing basis. Expenses are in addition to the consultancy fees, typically any travel costs or purchases made on behalf of the client.

            p Expenses will be projected accurately at the outset of the project. Although we fulfil our projects on a 7-day week, there is no extra charge for weekend or evening work. The consultancy rate is fixed for the duration of the project, and there will be no hidden charges. This gives you the confidence you need to execute a project knowing your budget will not be exceeded. 

          article.fees
            h2 Fees
            h3 at a glance

            p.fee 
              strong Daily Rate
              |  £475
            p.fee 
              strong Hourly Rate
              |  £75
            p.fee 
              strong 30 mins
              |  £40
            p.fee 
              strong Websites
              |  from £700
            p.fee 
              strong Graphic Design
              |  Fixed price quotes on your specification. 

            include includes/contactBtn
            
        
      




    include includes/footer
    include includes/mobileFooter