<!DOCTYPE html>
html(lang="en")
  head
    include includes/head
    title freelance marketing consultant, hire a freelancer, marketing freelancer, web consultancy
    meta(name="description", content="copywriting services, proofreading services, freelance, ")


  body.privacy
    include includes/navbarMain
    +navbarMain("logo", "")

    main.privacy__main

      section.privacy-statement.gradient-light
        .container
          .icon 
            include includes/svg/lock.svg
          article.body-text
            h1 Privacy Statement
            h2 Our Commitment To Privacy
            p Your privacy is important to us. To better protect your privacy we provide this notice explaining our online information practices and the choices you can make about the way your information is collected and used. To make this notice easy to find, we make it available at every point where personally identifiable information may be requested.
            h2 The Information We collect
            p This notice applies to all information collected or submitted on the Charlie Apple Marketing Services website. On our "Contact Us" page, you have the option to contact us by post, telephone, email or by completing an enquiry form. The information we ask for is to enable us to respond to your enquiry with the minimum amount of information. 
            p We do not share this information with outside parties.
            p We use return email addresses to answer the email we receive. Such addresses are not used for any other purpose and are not shared with outside parties.
            h2 How To Contact Us
            p Should you have other questions or concerns about these privacy policies, please #[a(href="tel:+447973987779") call us] at 07973 987 779 or #[a(href="mailto:privacy@charlieapple.com") send us an email] at privacy@charlieapple.com.          

        



    include includes/footer