<!DOCTYPE html>
html(lang="en")
  head
    include includes/head
    title Charlie Apple Site Map
    meta(name="description", content="An HTML site map of Charlieapple.com")


  body#sitemap
    include includes/navbarMain
    +navbarMain("logo", "")
    include includes/mobile-menu
    +mobileMenu("more", "sitemap")

    main#sitemap__main
      h1 Charlie Apple Site Map
      
      ul#master-list 
        li 
          a#home(href="./") Home
            .underline
          
          ul 
            li
              a.parent(href="./events") Events
                .underline
              
              ul
                li 
                  a(href="./event-management") Event Management
                    .underline
                li 
                  a(href="./markets") Markets
                    .underline
            li 
              a.parent(href="./graphic-design") Design
                .underline

              ul 
                li 
                  a(href="./website-design") Website Design
                    .underline
                li 
                  a(href="./design-for-print") Design For Print
                    .underline
                li 
                  a(href="./logo-design") Logo Design
                    .underline
            li 
              a.parent(href="./marketing") Marketing
                .underline
              
              ul 
                li
                  a(href="./workshops") Workshops
                    .underline
                li
                  a(href="./freelance-marketing") Freelance
                    .underline
                li
                  a(href="./social-media") Social Media
                    .underline
                li
                  a(href="./copywriting-services") Copywriting
                    .underline
                li
                  a(href="./consultancy") Consultancy
                    .underline
            li 
              a(href="./pricing") Pricing
                .underline
            li 
              a(href="./privacy") Privacy
                .underline
            li 
              a(href="./contact-us") Contact
                .underline 
            li 
              a(href="./sitemap") Site Map
                .underline
            li 
              a(href="./testimonials") Testimonials
                .underline
            li 
              a(href="./writing-your-website-brief") Writing Your Website Brief
                .underline


    include includes/footer
    include includes/mobileFooter