<!DOCTYPE html>
html(lang="en")
  head
    include includes/head

    title Testimonials
    meta(name="description", content="testimonials for website design, website development, shopify development, wordpress development, ecommerce development")


  body#top-section.testimonials-page
    include includes/navbarMain
    +navbarMain("logo", "")
    include includes/mobile-menu
    +mobileMenu("more", "testimonials")

    main#testimonials__main

      section.testimonial-section
        include includes/svg/charlieapple.svg
        include includes/svg/quote.svg 
        include includes/svg/quote.svg

        h2 What our clients say

        article.testimonial
          p.testimonial__content Charlie Apple have superb contacts with local businesses in South West London and Surrey and put these to use in recommending local professionals. It was a pleasure dealing with them.
          p.testimonial__author Steve Jordan, Business Development Manager, 
            span.green ITV
        
        article.testimonial
          p.testimonial__content Charlie Apple has been a real god send for re-designing our website. They were fast, accurate and knew just what we wanted. It was a pleasure to work with them and I would encourage anyone to utilise their services. Thank you so much guys!
          p.testimonial__author Litsa Worrall, CEO, 
            span.green Alpha Care Specialists

        article.testimonial
          p.testimonial__content Charlie Apple were innovative and efficient in their approach and designed a mailout for me with attractive content which drummed up lots of new business. They are a pleasure to work with and I recommend them very highly.
          p.testimonial__author Sarah Castle, 
            span.green Sarah Castle Consultancy Ltd

        article.testimonial
          p.testimonial__content Venue 28 are honoured to have worked with Charlie Apple who brought our business to life with ideas, thoughts and ways to capture an audience which we might not have thought about.  Always on the ball, quick to respond and an ability to provide an in depth solution to any social media dilemma!
          p.testimonial__author Cheryl Tackie, General Manager, 
            span.green Venue28

        article.testimonial
          p.testimonial__content It has been an absolute pleasure working with Charlie Apple on my projects. Their professionalism, efficiency, promptness, expertise and general support is second to none. They were always contactable and answered any questions I had quickly and was patient at times where I was unsure which direction to take with my brand guide and product labels. We were so aligned with our vision of the projects and I was completely blown away by the finished products. I will most definitely be back.
          p.testimonial__author Marianne Jones, Founder, 
            span.green Beauty by M Jones

        article.testimonial
          p.testimonial__content Working with Charlie Apple was excellent. When we started talking about my website and I couldn´t imagine so quick it is ready. They are very professional and punctual with all our deadlines. They understood all I need and want to my website and looked for the best options, even after the website was live!! Thank you!
          p.testimonial__author Fabiana Chacon, Owner, 
            span.green Chacon Cakes

        article.testimonial
          p.testimonial__content I would like to thank true professional, inspirational and dedicated web designers for giving me a helpful hand in making True Linen online shop complete and going live at the precise date & time! The foundations of the website were laid out by my late sister, so Charlie Apple's position wasn’t easy to step in and pick something up that is half way there, yet they completed this project exactly as per my vision and specifications. Not only did they make it all possible, but also guided me through the whole process with complete professionalism, their deep knowledge, and skill. Truly dedicated, trustworthy with customer service in mind. Charlie Apple's services are highly recommended and fully trusted, and your project would definitely land in safe hands. Dekui! 
          p.testimonial__author Laima Crowley, Owner, 
            span.green True Linen

        article.testimonial
          p.testimonial__content I would highly recommend Charlie Apple to any company or individual wanting to hire a web-designer who offers an extremely professional and personal service. Charlie Apple designed my first website, which was a catalogue style site and were an absolute pleasure to work with.  There was no question then to return to them when I wanted to rebrand and redesign the website to allow direct purchasing. They have a vast knowledge of design and was essential in rebranding my business, including my new logos, fonts, imagery, business cards, a display banner and of course the perfect new website! They go out of their way to ensure everything is exactly as imagined and is fantastic at responding quickly, inside and outside of business hours. I wouldn’t hesitate to return to Charlie Apple with any future website or graphic design work and will recommend them to others! 
          p.testimonial__author Elizabeth Pinn, Owner, 
            span.green Elizabeth Pinn Handmade Homewares

        article.testimonial
          p.testimonial__content My website needed redesigning. It's a complex site with 24 musicals on it. Charlie Apple were very accommodating, extremely efficient and an absolute pleasure to work with. The site transformation has been very successful. Would certainly recommend Charlie Apple to anyone needing a decent website. 
          p.testimonial__author Linda Kirby, 
            span.green Flippin'eck Children's Musicals 

        article.testimonial
          p.testimonial__content Charlie Apple have been very attentive and patient with us re-designing the company's website. Their advice and knowledge have been incredibly helpful to make the most of the content and layout. Always easy to approach and contact with any queries. Would definitely recommend Charlie Apple to other companies.
          p.testimonial__author Hannah Morris, 
            span.green Ian Dunn Woodwork & Design

        article.testimonial
          p.testimonial__content I have asked Charlie Apple to assist me with a couple of promotional projects for my business which is new and growing. As time is so valuable when starting out, I really appreciated that we didn't need to discuss the work for hours and we didn't have too many proofs backward and forward. This for me is a real testament to their focus and expertise along with their years of marketing experience, they just dealt with the 'job in hand’. Charlie Apple's attention to detail and desire to meet the needs of their clientele ensure that they provide a service which is efficient and professional. Thank you.
          p.testimonial__author Maria Jessiman, Owner, 
            span.green Lu-Ma Cafe

        article.testimonial
          p.testimonial__content Charlie Apple work very well with their clients. They listen carefully and give great advice while at the same taking into account all our views and needs to produce the perfect end product. This dynamic relationship has provided us with exactly the sort of website that we need at this time.
          p.testimonial__author Steve Bennett, Owner, 
            span.green Safety Delivery Ltd

        article.testimonial
          p.testimonial__content Thank you very much for all the help and support. It's been fantastic working with you. I am delighted with your work and your level of commitment.  You are stars*
          p.testimonial__author Edvaldo Santos, Owner, 
            span.green Back2Cleaning Ltd

        article.testimonial
          p.testimonial__content No words can describe how pleased I am with the design of my website. Working alongside you has been a great experience, your abiltity to adapt to each of your customers' needs, your attention to detail and your willingness to give the best are all excellent skills which you possess. Thank you very much for your help!
          p.testimonial__author Carole Simb, Owner, 
            span.green Creperie Guadeloupe

        article.testimonial
          p.testimonial__content I have had the pleasure of working with Charlie Apple on the redesigning of one of our adverts which was due to go out in a local brochure. Their speed and efficiency was top quality, their professional and friendly attitude helped us to work together to get the best results for our practice.  I would highly recommend them to anyone considering marketing ideas.
          p.testimonial__author Sharon Freer, Practice Manager, 
            span.green Wimbledon Dental Studio

        article.testimonial
          p.testimonial__content On behalf of all of us on the FT team, I'd like to express our sincere thanks for all you have done to make UnCon the success it was. Without exception, every speaker (and anyone else whose affairs you organised) who talked to me was full of praise for your speed, attention to detail and readiness to help at odd hours. I hope IFG hire you for next year's event. Thanks again.
          p.testimonial__author Bob Rickard, Editor, 
            span.green Fortean Times

        article.testimonial
          p.testimonial__content It was through a workshop that I met a member of Charlie Apple's team who I chose to design both sites and who is currently working with me on my own freelance translator site. Working with a local web designer is certainly something I would heartily recommend. I found working with Charlie Apple a pleasure; the very best web designers are able to create visually pleasing pages, but more than that, they work hand-in-hand with their clients, going through the whole process and offering valuable marketing advice every step of the way.
          p.testimonial__author Elizabeth DeZoysa, Director, 
            span.green Anglocertificate

        article.testimonial
          p.testimonial__content After working with Charlie Apple for many years on numerous events I can wholeheartedly recommend them to anyone needing a top notch event and production manager. They have all the experience needed to put together and run any event either in-doors or out. They're professional, friendly to all and passionate about their work.
          p.testimonial__author Alan Trewhitt, MD, 
            span.green AT Sound

        article.testimonial
          p.testimonial__content Charlie Apple helped to manage several events for Mosaic Languages and organised our marketing communications and strategy planning. I greatly value their input. We are now also using them for our website design and updating. I would not hesitate to recommend them.
          p.testimonial__author Corinne Gauthier-Capes, Director, 
            span.green Mosaic Langauges

        .scroll-component
          include includes/scroll-to-top
   
    include includes/footer
    include includes/mobileFooter