<!DOCTYPE html>
html(lang="en")
  head
    include includes/head

    title Website Design | Website Development
    meta(name="description", content="website design, website development, shopify development, wordpress development, ecommerce development")


  body#top-section.website-design
    include includes/navbarMain
    +navbarMain("logo", "design")
    include includes/navbarSecondary
    +navbarSecondary("design", "website design")
    include includes/mobile-menu
    +mobileMenu("design", "website design")

    main.website-design__main

      section.your-business-digital.gradient-light
        .container
          article.content
            header
              h1 Your business.<br/>
                span.green Digital.
            .body-text
              p We take the time to get to know you, your business, your brand, who your target market is and why they should become your customers. We’ll make sure their journey through your website is a positive experience.  For simple brochure sites, ecommerce or more complex bespoke development…
            
            include includes/contactBtn

          .icons
            .icons__large
              .icon
                include includes/svg/shopify.svg
                p Shopify Development     
              .icon
                include includes/svg/wordpress.svg  
                p Wordpress Development
            .icons__small
              .icon 
                include includes/svg/css3.svg    
                p CSS 3 Development
              .icon
                include includes/svg/js.svg    
                p Javascript Development
              .icon
                include includes/svg/html5.svg   
                p HTML 5 Development

      section.the-process
        h2 The Process

        .container 
          article#talk 
            h3.title 1. You talk. 
              span.green We listen.
            p.body-text On the phone or in a video chat. We get some background from you, where you are now, where you want to be, what you want your site to achieve, identify your target audience, and discuss your timescales.               
          
          article#questionnaire 
            h3.title 2. The Questionnaire
            p.body-text You can fill in some of it or all of it, it’s up to you, but it will help you think through the site structure, navigation, look and feel and will form the client brief or website specification. Before completing the questionnaire, you may find it useful to #[a(href="./writing-your-website-brief") read our paper] on Writing Your Website Brief.               
          
          article#quote 
            h3.title 3. The Quote
            p.body-text Based on your specification, we can then give you a fixed price for your website. If you require a phased approach to your website, either for cost reasons or to support the evolution of your business, the price will also be given to match each phase, so you can plan both financially and strategically.    

          article#template 
            h3.title 4. The Template
            p.body-text We produce a template for your new site, reflecting your design specification, for you to approve. We’ll make the necessary design changes and fine tune it until you are happy. We then produce all the pages of the website based on the approved template, ready for the content to be added.            
          
          article#seo 
            h3.title 5. Build, Test & SEO
            p.body-text Now it all comes together. All your words, pictures and products go where they belong, with SEO taken care of.  The site is proofread, links are checked, for ecommerce sites, transactions are tested.
          
          article#live 
            h3.title 6. Go Live!
            p.body-text You will get to review and approve your new site before you give the go-ahead to go live!  And then we’ll stay with you for one month to make any tweaks and adjustments that you need.

      section.gradient-dark.more-services
        h2 More Services
        .container 
          article.service#email
              .icon
                include includes/svg/email.svg
              h3.title Email Set-Up
              p.body-text We will help you set up your pop3 or IMAP accounts across your devices to ensure that you are working the way you want to.

          article.service#domain
            .icon
              include includes/svg/sitemap.svg
            h3.title Domain Registration
            p.body-text We can register your domain and hosting for your website on your behalf.

          article.service#copywriting
            .icon
              include includes/svg/pencil.svg
            h3.title Website Copywriting
            p.body-text We can write the copy for your website, either from scratch or improving what you provide.

          article.service#image
            .icon
              include includes/svg/image.svg
            h3.title Image Sourcing
            p.body-text Image sourcing for your site using free images or stock photographs, or we can arrange, manage and choreograph a photography shoot to create a portfolio of images that you can use on your website, printed materials and #[a(href="./social-media") social media].

          article.service#maintenance
            .icon
              include includes/svg/tools.svg
            h3.title Maintenance
            p.body-text We can provide you with a content management system to update your own site or we can update for you on a regular or ad hoc basis. Maintenance contracts fees are tailored to your needs, the frequency and scale of your updates, and priced for you. 

          article.service#video
            .icon
              include includes/svg/video.svg
            h3.title Video Training
            p.body-text We can provide you with screen recorded video/audio training to show you how to edit your website.  These training videos are recorded using the content management system of your website so is unique to your website. 

      section.portfolio.gradient-light
        h2 Portfolio

        #portfolio-container
          img#computer(src="./images/website-design/computer.jpg", alt="a computer setup on a desk. Photo by Jessy Smith on unsplash.com")
          #screen
            #turn-on
              img#laborjee(src="./images/website-design/laborjee.jpg", alt="a website design mockup")
              img#olive(src="./images/website-design/little-olive.jpg", alt="a website design mockup")
              img#azadi(src="./images/website-design/azadi.jpg", alt="a website design mockup")
              img#creperie(src="./images/website-design/creperie.jpg", alt="a website design mockup")
            #turn-off
              include includes/svg/bellpepper-design.svg

      section.previous-work.gradient-dark
        h2 Previous Work
        h3 A selection of websites we have built for our clients recently. 

        .container
          a.link(href="http://www.laborjee.co.uk" target="_blank")
            p Laborjee Bakery
          a.link(href="http://www.acupuncturetreatments.co.uk" target="_blank")
            p Azadi Acupuncture
          a.link(href="http://www.littleolivecompany.co.uk" target="_blank")
            p Little Olive Company
          a.link(href="http://www.theangelstouch.co.uk" target="_blank")
            p The Angel's Touch
          a.link(href="http://www.bonitacandles.co.uk" target="_blank")
            p Bonita Candles
          a.link(href="http://www.oakleafcounselling.org.uk/" target="_blank")
            p Oak Leaf Counselling
          a.link(href="http://www.sairestaurant.co.uk" target="_blank")
            p Sai Restaurant
          a.link(href="http://gustosissima.com/" target="_blank")
            p Gustosissima
          a.link(href="http://www.carolescreperie.co.uk" target="_blank")
            p Carole's Creperie
          a.link(href="http://amusebouchelondon.com/" target="_blank")
            p Amuse Bouche
          a.link(href="http://www.wrapupinstyle.com" target="_blank")
            p Wrap Up In Style
          a.link(href="http://www.alisemporium.co.uk" target="_blank")
            p Ali's Emporium 
          a.link(href="http://www.keytochangehypnotherapy.com" target="_blank")
            p Key To Change
          a.link(href="http://www.qualitystitchlondon.co.uk" target="_blank")
            p Quality Stitch London 
          a.link(href="http://www.alphacares.org.uk" target="_blank")
            p AlphaCare 
          a.link(href="http://www.rhssiteservices.net" target="_blank")
            p RHS Site Services
          a.link(href="http://www.nouralondon.com" target="_blank")
            p Noura London
          a.link(href="http://www.silverpetalsjewellery.com" target="_blank")
            p Silver Petals Jewellery
          a.link(href="http://www.davidlewisillustration.com" target="_blank")
            p David Lewis Illustration
          a.link(href="https://theascotsockcompany.co.uk/" target="_blank")
            p The Ascot Sock Company
          .coming-soon 
            p Maggie's Diner
            .overlay 
              p Coming Soon!


      section.testimonial-section
        include includes/svg/bellpepper-design.svg
        include includes/svg/quote.svg 

        h2 What our clients say
        
        article.testimonial
          p.testimonial__content Bell Pepper Design has been a real god send for re-designing our website. They were fast, accurate and knew just what we wanted. It was a pleasure to work with them and I would encourage anyone to utilise their services. Thank you so much guys!
          p.testimonial__author Litsa Worrall, CEO, 
            span.green Alpha Care Specialists

        article.testimonial
          p.testimonial__content Bell Pepper Design work very well with their clients. They listens carefully and give great advice while at the same taking into account all our views and needs to produce the perfect end product. This dynamic relationship has provided us with exactly the sort of website that we need at this time.
          p.testimonial__author Steve Bennett, Owner, 
            span.green Safety Delivery Ltd

        article.testimonial
          p.testimonial__content Bell Pepper Design have been very attentive and patient with us re-designing the company’s website. Their advice and knowledge have been incredibly helpful to make the most of the content and layout. Always easy to approach and contact with any queries. Would definitely recommend Bell Pepper Design to other companies.
          p.testimonial__author Hannah Morris, 
            span.green Ian Dunn Woodwork & Design
        
        article.testimonial
          p.testimonial__content I would highly recommend Bell Pepper Design to any company or individual wanting to hire a web-designer who offers an extremely professional and personal service.  They have a vast knowledge of design and were essential in rebranding my business, including new logos, fonts, imagery, business cards, a display banner and of course the perfect new website! They went out of their way to ensure everything was exactly as I imagined and were fantastic at responding quickly. I wouldn’t hesitate to return to Bell Pepper Design with any future website or graphic design work and will recommend them to others! 
          p.testimonial__author Elizabeth Pinn, 
            span.green Elizabeth Pinn

        .scroll-component
          include includes/scroll-to-top


            
    include includes/footer
    include includes/mobileFooter
