<!DOCTYPE html>
html(lang="en")
  head
    include includes/head
    title marketing workshop, business writing workshop, branding workshop, training in marketing
    meta(name="description", content="business workshops, business training, branding, marketing, writing, copywriting, web design, ecommerce")


  body#top-section.workshops
    include includes/navbarMain
    +navbarMain("logo", "marketing")
    include includes/navbarSecondary
    +navbarSecondary("marketing", "workshops")

    main.workshops__main

      section.title-section.gradient-light
        .container
          header
            h1.heading Workshops<br />
              span.green & training
            include includes/contactBtn

          .image
            img(src="./images/workshop-edit.jpg", alt="a business workshop hosted by Charlie Apple")

      section.description.gradient-dark
        .container
          .left
            h2 Marketing, Business Writing, Branding & Social Media
            
            p Could you or your staff benefit from some marketing training? We provide video remote or in-person training in most of the marketing services that we provide. These workshops are 3 hours in duration and are suitable for 1-10 delegates, but we can take more if you have them, at no extra cost. 

            p If you want a tailored bespoke workshop, we can modify the workshop to suit your business, your current marketing objectives and the skillset of your current staff. And our costs are transparent.

          .right
            h2 Prices
            p Video Remote Workshop (Zoom) - £500
            p In-Person 3hr Workshop - £650 (within 20 mile radius)
            p For workshops outside the 20 mile radius, travel expenses will also be charged - nothing on top, just the train fare.
            p For off-site workshops, just add the cost of your chosen venue!

      
      section.workshop-list.gradient-light

        h2 Workshops

        article.branding
          header 
            h3 Branding <br/>
              span.green your business
          .body-text
            p This lively interactive workshop will give you an insight into what branding means for your business and provide you with the tools to fine tune your brand and image to make a big difference to your business success.
           
            ul
              li Understanding your brand and brand values
              li Developing your brand
              li Projecting your product, message and image
              li Review your brand / logo / image
              li Actions to take forward
           
            p This workshop is suitable for start-ups and pre-starts but also for existing businesses looking to rebrand or refresh their brand.

            hr

        article.writing
          header
            h3 Writing <br/>
              span.green done right
          .body-text
            p Staring at a blank page or screen? Waiting for the words to come to you? Does your writing meander and miss the point? The written word is all important and all powerful - it has to achieve so many things - catch the attention of the reader, interest them, inform them and inspire them to act. If you are responsible for writing emails, press releases, newsletters, social media posts or the entire content for a website, this workshop is for you. We will cover the following:
            ul
              li Email writing
              li Press releases
              li Newsletters
              li Website content
              li Setting the tone of your writing
              li Knowing your audience
              li Planning your copy
              li Filling the blank page
              li Testing your copy
              
            p Delegates are invited to submit a recent piece of copy (preferably a flier/newsletter/brochure) prior to the workshop for review and feedback. 

            hr
        
        
        article.marketing
          header
            h3 Marketing <br/>
              span.green for small businesses
          .body-text
            p Every time you send an email, post on social media, write a letter or even pick up the phone – you market your business and you need to get it right. There are many strands to the marketing discipline and this compact, interactive workshop will help you discover cost-effective, result-driven methods that you can immediately mobilise, capitalising on what you do already and exploring all the areas of the discipline specifically for small businesses, such as:

            ul
              li Business copywriting*
              li Email marketing
              li Website and social media*
              li Branding*
              li Marketing communications planning*

            p However big, small or non-existent your marketing budget is, you will come away from this workshop with valuable actions that you can implement immediately to drive your business forward, retain existing clients and build new ones.

            p * We also run separate workshops in these topics which will deliver finer detail in each subject than time will allow in this workshop. 

            hr

        article.internet
          header
            h3 The internet <br/>
              span.green for your business
          .body-text
            p This workshop is aimed at pre-starts, start-ups and small businesses who are either planning to build a website or have a website which is not truly delivering its potential It is ideal for those who find themselves outside their comfort zone when it comes to IT and the Internet, or those who are comfortable using IT but don’t know how to make the most of it for their business. You may be just starting in business and know that a website is an essential marketing tool. Or you may have embraced the web within the last few years, had a website built and there it sits, out there in the ether effectively ‘gathering dust’ and not bringing in enquiries or business. In this workshop, we will give you the broad basics on making the internet work for your business and will cover areas such as:
            
            ul
              li Domain registration and name selection
              li Planning your website and developing your spec
              li Finding a website designer or going it alone
              li Structure and navigation
              li Email marketing
              li Social networking
              li Copywriting for the web
              li Search engine optimisation
              li Tips, tricks and recommendations

            p You will come away from this workshop with a much better understanding of what the internet can and should do for your business, and ready to start the process of developing a new site or redeveloping your old one.

            hr
        
        article.websites
          header
            h3 Websites <br/>
              span.green working for you
          .body-text
            p This workshop is aimed at pre-starts, start-ups and small businesses who are either planning to build a website or have a website which is not truly delivering its potential. It is ideal for those who find themselves outside their comfort zone when it comes to IT and the Internet, or those who are comfortable using IT but don’t know how to make the most of it for their business. You may be just starting in business and know that a website is an essential marketing or sales tool. Or you may have embraced the web within the last few years, had a website built and there it sits, out there in the ether effectively ‘gathering dust’ and not bringing in enquiries or business. In this workshop, we will give you the broad basics on getting started online and making your website work for your business. We will cover areas such as:

            ul
              li Domain registration and name selection
              li Planning your website and developing your spec
              li Finding a website designer or going it alone
              li Web building platforms and hosting
              li Setting your budgets and your expectations
              li Structure and navigation
              li Email marketing
              li Social networking
              li Copywriting for the web
              li Search engine optimisation

            p You will come away from this workshop with a much better understanding of what the internet can and should do for your business, and ready to start the process of developing a new site or redeveloping your old one. 
            
        .scroll-component
          include includes/scroll-to-top





    include includes/footer